<style>
            .model3{
                background-color: white;
                color:bold;
                width:700px;
                font-size: 66px;
                font-weight: bold;
                font-family:montserrat ;

            }
            .online{
                background-color: white;
                color: black;
                font-family: montserrat;
                font-size: regular;
            }
    
        </style>